################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/labs_OOP/.vs
/.vs/labs_OOP/FileContentIndex
/.vs/labs_OOP/v17/ipch/AutoPCH
/oop_labs/oop_labs/x64/Debug/oop_labs.tlog
/oop_labs/.vs/oop_labs
